@font-face {
  font-family: 'OperatorMono-LightItalic';
  src: url('fonts/OperatorMono-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'OperatorMono-Light';
  src: url('fonts/OperatorMono-Light.woff') format('woff');
}

body {
  /* Palenight */
  background-color: #282a36;
  color: #bfc7d5;
  font-family: 'OperatorMono-Light';
}

header {
  display: flex;
  align-items: center;
  font-family: 'OperatorMono-LightItalic';
  color: #bd93f9;
  margin: 0.6rem 0.8rem 0;
  font-size: 10px;
}

header > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.bookmarks-container {
  /* padding-top: 5rem; */
}

.bookmarks-container > .row {
  max-width: 80em;
  width: 100%;
  margin: 5vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bookmarks-container > .row > .cols {
  box-sizing: border-box;
  /* margin: 0.2em; */
  /* padding: 0.2em; */
  padding: 0 20px 20px;
  min-height: 50px;
  /* background: #1b1e2b; */
  flex: 1 1 20em;
}

.bookmarks-container > .row > .cols > .group {
  /* outline: white solid 1px 0 0; */
}

.bookmarks-container > .row > .cols > .group > .group-name {
  font-family: 'OperatorMono-LightItalic';
  color: #bd93f9;
  margin: 0.6rem 0.8rem 0;
  padding: 0.2rem 0;
  border-top: 1px solid #bfc7d5;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.9rem;
  /* text-transform: uppercase; */
  /* letter-spacing: 0.1em; */
}

.bookmarks-container > .row > .cols > .group > .bookmarks {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.bookmarks-container > .row > .cols > .group > .bookmarks > .bookmark > a {
  text-decoration: none;
  color: #bfc7d5;
  display: block;
  padding: 0.4em 0.8em;
  box-sizing: border-box;
  line-height: 1.2em;
}

.bookmarks-container > .row > .cols > .group > .bookmarks > .bookmark > a:hover {
  background-color: #6272a4;
  color: #ff79c6;
}

/* ------------- WAVE ANIMATION ------------- */

.wave-container .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('/img/wave.svg');
  background-size: 990px 100px;
  background-repeat: repeat-x;
}

.wave-container .wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave-container .wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave-container .wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave-container .wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 990px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -990px;
  }
}

/* Make The Waves disappear */
@media all and (max-width: 1000px) {
  .wave-container {
    display: none;
  }
}
