palette {
  /* Blueprint 
  color: white;
  background-color: #2e3a50;
*/

  /* Dark
  color: white;
  background-color: #202124;
*/

  /* Custom
  color: white;
  background-color: #292b36;
*/

  /* palenight palette */
  color: #292d3e;
  color: #bfc7d5;
  color: #ff5572;
  color: #4c5374;
  color: #f78c6c;
  color: #82aaff;
  color: #ffcb6b;
  color: #c792ea;
  color: #f78c6c;
}
